.body{
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h2{
  text-align: center;
}

.label{
  color: white;
}


  .form{
    margin: auto;
    width: 650px;
    margin-top: 80px;
    height: 600px;
    background-color: rgba(15, 14, 14, 0.192);
    background-position: center;
    background-size: cover;
    border: solid white;
    border-radius: 10px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    color: white;
    
  }

  .button {
    height: 50px;
    width: 100%;
    background-color: orange;
    border: none;
    border-radius: 7px;

  }
